{% if user.is_authenticated %}
  <p><a href="{% url "tasks:worker-detail" user.pk %}">User: {{ user.username }}</a></p>
  <form method="post" action="{% url 'logout' %}" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-link">Logout</button>
  </form>
{% else %}
  <a href="{% url 'login' %}">Login</a>
{% endif %}

<ul class="sidebar-nav list-group">
  <li class="list-group-item"><a href="{% url 'tasks:task-list' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'tasks:worker-list' %}">Workers</a></li>
  <li class="list-group-item"><a href="{% url 'tasks:task-type-list' %}">Task types</a></li>
</ul>
