<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">

  <title>
    Soft UI Dashboard Django - {% block title %}{% endblock %} | Creative-Tim
  </title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
  <link href="/static/css/nucleo-icons.css" rel="stylesheet"/>
  <link href="/static/css/nucleo-svg.css" rel="stylesheet"/>
  <link href="/static/css/nucleo-svg.css" rel="stylesheet"/>
  <link href="/static/css/soft-ui-dashboard.css" rel="stylesheet"/>
  <link href="/static/css/custom-sizes.css" rel="stylesheet"/>

  {% block stylesheets %}{% endblock stylesheets %}

  <title>Task manager</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
  {% load static %}
</head>
<body class="g-sidenav-show bg-gray-100">
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      {% block sidebar %}
        {% include "includes/sidebar.html" %}
      {% endblock %}
    </div>

    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-9">
          {% block content %}{% endblock %}
        </div>

        <div class="col-sm-3">
          <main class="main-content mt-4 border-radius-lg">
            {% block nav_content %} {% endblock %}
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
