{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task board
    <a href="{% url 'tasks:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="get">
    {{ search_form|crispy }}
    <input type="submit">
  </form>

  <p></p>

  {% for task in task_list %}
    <h3>
      <a href="{% url 'tasks:task-detail' task.pk %}">{{ task.name }}</a>
      ({{ task.deadline }}) - {{ task.get_priority_display }}</h3>
  {% endfor %}
{% endblock %}
